h1 {
  Color: rgb(41, 37, 159);
  font-size: 200%;
}

p {

  font-family: 'Luminari', fantasy;
text-indent: 50px;
margin-left: 10px;
}

#content  {
width: 300px;
min-height: 200px;
padding: 10px;
margin: 10px;
border: solid 1px #888;
font-size: 20px;
} 
.major-section {
  font-family: 'Luminari', fantasy;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;

}

#minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
}

.changed {
  border: solid 1px red;
  background-color: lavender;
  font-family: monospace;
  font-size: 1.5em;
}