

  
  body {
    background-color:#553739;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #6226f9;
    padding: 20px;
  }
  /* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #553739;
    background-color: rgb(156, 41, 9);

  }  
  
 h1,h2,h3 {
    font-family: 'silentium', Times, serif;
  }
  
  /* and we can have rules that overlap other rules, both take effect */
  h1 {
    letter-spacing: 0.5px;
    word-spacing: 5px;
    font-size: 320%;
  }
 

/* we can have rules apply to multiple elements at the same time with commas */
  .sectionbox {
    padding: 40px;
    margin-bottom: 10px;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(237, 83, 83);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
  .special {
    background-color: #fdf7ed;
    border: solid 1px maroon;
  }
  