h1 {
  Color: rgb(145, 95, 10);
  font-size: 200%;
}

p {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-indent: 20px;
margin-left: 10px;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }